$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

$md: map-get(
  $map: $grid-breakpoints,
  $key: md,
);

$aside-width: 30%;
$base-font-size: 16px;

$color-accent: #5c9592;
$color-secondary: #e4765a;
